*{
    margin: 0;
    padding: 0;
}
.hero{
    background-image: url(../images/cow.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
}
.hero h1{
    color: wheat;
    font-size: 100px ;
    text-align: center;
    font-weight: 700;
    padding-top: 60px;
    font-family: cursive;
    word-spacing: 40px;
}
.article{
    width: 80%;
    /* margin-left: auto;
    margin-right: auto; */
    margin: 60px auto;
    background-color: aquamarine;
    padding: 60px;
    border-width: 15px;
    border-color: yellow;
    border-style: groove;
}
.article h2{
    text-align: center;
    padding-bottom: 30px;
}